Library/
Temp/
obj/
*.vs
*.tmp
*.csproj 
*.user 

Program/MobileGame/Assets/outLog.txt
Program/MobileGame/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
Program/MobileGame/Assets/outLog.txt
Program/MobileGame/Assets/outLog.txt.meta
